@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  position: relative;
  background-image: linear-gradient(45deg, #fbfff9, #ecf7e8);
  background-color: #ecf7e8;
}

.page {
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1.5rem;
  width: 90%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page h2 {
  margin-bottom: 1.5rem;
}

.page input {
  margin: 1rem 0;
}

.page .log-reg-btn {
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.page #message {
  color: #d80000;
}

button {
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  border: none;
}

.btn {
  background-color: #315343;
  color: #ffffff;
  border-radius: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.btn:hover {
  -webkit-box-shadow: 3px 3px 5px gray;
          box-shadow: 3px 3px 5px gray;
  color: #ffffff;
}

.btn:focus {
  -webkit-box-shadow: 3px 3px 5px lightgray;
          box-shadow: 3px 3px 5px lightgray;
  color: #ffffff;
}

.log-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  border-radius: 0%;
  background-color: transparent;
  margin: 2rem 0 0 1rem;
  border-left: 0.2rem solid #315343;
  color: #315343;
}

.log-btn:hover {
  border-radius: 0.6rem;
  border: 0.2rem solid #315343;
  color: #315343;
}

.invisible-btn {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

svg {
  width: 16px;
  height: 16px;
}

ul {
  list-style: none;
}

#favorites-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 1rem;
}

#favorites-div::-webkit-scrollbar {
  width: 1rem;
}

#favorites-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #e1e1e1;
          box-shadow: inset 0 0 5px #e1e1e1;
  border-radius: 1rem;
}

#favorites-div::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 1rem;
}

#favorites-div #double-bookmark-icon {
  position: relative;
  bottom: 150%;
  right: 0.8rem;
}

#favorites-div #close-icon,
#favorites-div #double-bookmark-cbox,
#favorites-div #favoritesList li {
  display: none;
}

#favorites-div #favoritesList {
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper #close-icon {
  display: block;
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  background-color: transparent;
}

#favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper #close-icon svg {
  fill: white;
  width: 1.3rem;
  height: 1.3rem;
}

#favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper #favoritesList {
  padding: 1rem 1.5rem;
}

#favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper #favoritesList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 0.2rem 0;
  border-bottom: 1px solid lightgray;
}

#favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper #favoritesList li .insert-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: calc(100% - 16px);
}

#favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper #favoritesList li:first-child, #favorites-div #double-bookmark-cbox:checked ~ #favoritesList-wrapper #favoritesList li:last-child {
  border-bottom: none;
}

#favorites-div #double-bookmark-cbox:checked ~ #double-bookmark-icon {
  visibility: hidden;
}

#favorites-div #close-icon,
#favorites-div #double-bookmark-cbox {
  display: none;
}

#page {
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  padding: 2rem 1rem 1rem;
  background-color: #ffffff;
}

#page #tickerInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page #tickerInput input {
  border-radius: 0.2rem;
  border: 1px solid lightgray;
}

#page #tickerInput input:focus {
  outline: none;
  border: 1px solid gray;
}

#page #tickerInput #search-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page #tickerInput #search-btn-div {
  margin: 1rem 0;
}

#page #tickerInput hr {
  max-width: 50%;
  color: darkgray;
}

#page #tickerInput button,
#page #tickerInput input,
#page #tickerInput #add-favorites-btn {
  width: auto;
}

#page #dataInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page #dataInput .splitted {
  width: 100%;
}

#page #dataInput .strong {
  font-weight: 600;
  color: #315343;
}

#page #dataInput input {
  margin-left: 10%;
  width: 85%;
  border: transparent;
  border-bottom: 2px solid lightgray;
}

#page #dataInput input:focus {
  outline: none;
  border: transparent;
  border-bottom: 2px solid gray;
}

#page #dataInput input::-webkit-outer-spin-button, #page #dataInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#page #dataInput input[type=number] {
  -moz-appearance: textfield;
}

#page #dataInput div {
  width: auto;
  margin-bottom: 0.8rem;
}

#page #dataInput #calculate-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0.5rem 0;
}

#page #dataInput .splitted {
  margin: 0;
}

#page #result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  margin: 1rem;
  line-height: 1.8rem;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
}

#page #result #intrinsicValueDiv {
  width: auto;
  font-size: large;
}

#page #result #intrinsicValueDiv #intrinsicValue {
  text-align: center;
  font-size: larger;
  font-weight: 500;
}

#page #result #rated {
  display: block;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

#page #result #price {
  display: block;
  text-align: center;
}

#documentation-div {
  display: none;
}

@media (min-width: 576px) {
  .page {
    max-width: 45rem;
  }
  .page input {
    width: 70%;
    margin: 2rem auto;
  }
  .page .log-reg-btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #body-div {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  .log-btn {
    margin: 2.5rem 0 0 4rem;
    border-width: .2rem;
    border-color: transparent;
  }
  .log-btn:hover {
    border-radius: 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: transparent;
    border-left: 0.2rem solid rgba(0, 0, 0, 0.75);
  }
  #favorites-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  #favorites-div #favoritesList {
    display: block;
    position: relative;
    padding: 1.5rem 2rem;
    max-height: 60vh;
    overflow-y: auto;
  }
  #favorites-div #favoritesList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 0.4rem 0;
    border-bottom: 1px solid lightgray;
  }
  #favorites-div #favoritesList li .insert-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: calc(100% - 16px);
  }
  #favorites-div #favoritesList li:first-child, #favorites-div #favoritesList li:last-child {
    border-bottom: none;
  }
  .col-xs-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col-xs-12 #page {
    width: 75%;
    padding: 2rem;
  }
  .col-xs-12 #page #dataInput {
    margin: 1rem 0;
  }
  .col-xs-12 #page #dataInput .splitted {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-columns: 1;
            columns: 1;
  }
}

@media (min-width: 576px) and (min-width: 1200px) {
  .col-xs-12 #page #dataInput .splitted {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .col-xs-12 #page #dataInput .splitted div {
    width: 100%;
  }
  .col-xs-12 #page #dataInput .splitted label {
    margin-left: -2rem;
  }
  .col-xs-12 #page #dataInput .splitted input {
    width: 110%;
  }
  .col-xs-12 #page #result {
    margin: 1rem 0 0 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
  }
}

@media (min-width: 576px) and (min-width: 1200px) {
  .col-xs-12 #page #result {
    width: 20rem;
  }
}

@media (min-width: 576px) {
  #documentation-div {
    display: block;
  }
  #documentation-div svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  #documentation-div #documentation-btn {
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: .2rem solid inherit;
    border-radius: 0%;
  }
  #documentation-div #documentation-btn:hover {
    border-top: 0.2rem solid rgba(49, 83, 67, 0.75);
  }
  #documentation-div #documentation-btn svg {
    fill: #315343;
  }
}

@media (min-width: 576px) and (min-width: 1200px) {
  #documentation-div #documentation-btn {
    left: 5rem;
    bottom: 3rem;
  }
}

@media (min-width: 576px) {
  #documentation-div #documentation-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #documentation-div #documentation-page {
    -webkit-box-shadow: 2px 2px 5px gray;
            box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
    height: 95vh;
    background-color: white;
    color: #000000;
    padding: 2rem 3rem 1rem;
    overflow-y: auto;
  }
  #documentation-div #documentation-page::-webkit-scrollbar {
    width: 1rem;
  }
  #documentation-div #documentation-page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #e1e1e1;
            box-shadow: inset 0 0 5px #e1e1e1;
    border-radius: 1rem;
  }
  #documentation-div #documentation-page::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 1rem;
  }
  #documentation-div #close-documentation {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 2rem;
    right: 2.5rem;
  }
  #documentation-div #close-documentation svg {
    fill: #f5f5f5;
  }
  #documentation-div #credits {
    text-align: center;
  }
  #documentation-div #credits #logo {
    width: 2rem;
    height: 2rem;
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */